body {
    display: flex;
    flex-direction: column;
}

.color {
    background-color: #1F2937;
    padding-bottom: 60px;
}

.header {
    display: flex;
    flex-direction: row;
    border: red solid;
    flex-basis: auto;
    
}

.mainhead {
    border: green solid;
    margin-right: 100px;
    flex-grow: 1;
    padding-left: 140px;
    flex-shrink: 0;
    color: white;
}

.hlink {
    border: yellow solid;
}

.linkbox {
    display: flex;
    border: lime solid;
    flex-direction: row;
    justify-content: flex-end;
    flex-grow: 1;
    justify-content: space-around;
    flex-shrink: 0;
}

.context {
    display: flex;
    border: orange solid;
    flex-basis: 0;
    justify-content: space-evenly;
    padding-bottom: 40px;
}

.context1 {
    display: flex;
    flex-direction: column;
    flex-basis: 0;
    border: purple solid;
    flex-grow: 1;
    justify-content: center;
    align-items: center;
}

.blkdg {
    display: flex;
    border: gold solid;
    flex-grow: 1;
    flex-basis: 0;
    justify-content: center;
    padding-bottom: 20px;
    padding-top: 40px;
}

.dog {
    height: 200px;
    width: 200px;
}

.s1 {
    width: 70px;
}

.midder1 {
    border: blue solid;
    /* display: flex; */
    flex-shrink: 1;
    flex-basis: 0;
    text-align: center;
    
}

.imgs {
    display: flex;
    border: lime solid;
    justify-content: center;
    gap: 1%;
    margin-bottom: 100px;
    flex-shrink: 1;
    
}

.seasons {
   /*  display: flex; */
    /* border: lime solid; */
    width: 200px;
    height: 200px;
    border-radius: 1rem;
    flex-grow: 0;
    flex-shrink: 1;
    max-width: ;
}

.red {
    border: purple solid;
    max-width: 200px;
    
}

.midder2 {
    border: black solid;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* word-wrap: break-word 20ch; */
    padding: 50px;
    background-color: #E5E7EB;
}

.quote {
    width: 30%;
}

.footer1 {
    display: flex;
    border: yellow solid;
    justify-content: center;
    padding: 100px;
}

.blue {
    background-color: #3288F6;
    display: flex;
    border-radius: 8px;
    padding: 2rem 3rem 2rem 3rem;
    align-items: center;
    
}

.sign2 {
    height: 25px;
    border: burlywood solid;
    margin-bottom: -20px;
    width: 70px;
}

.call {
    border: red solid;
    padding-right: 1rem;
    align-items: center;

}

.action {
    margin-bottom: -15px;  
}
