body {
    display: flex;
    flex-direction: column;
}

.header {
    display: flex;
    flex-direction: row;
    border: red solid;
    flex-basis: auto;
    
}

.mainhead {
    border: green solid;
    margin-right: 100px;
    flex-grow: 1;
    padding-left: 140px;
    flex-shrink: 0;
}

.hlink {
    border: yellow solid;
}

.linkbox {
    display: flex;
    border: lime solid;
    flex-direction: row;
    justify-content: flex-end;
    flex-grow: 1;
    justify-content: space-between;
    flex-shrink: 0;
}

.context {
    display: flex;
    border: orange solid;
    flex-basis: 0;
    justify-content: space-evenly;
}

.context1 {
    display: flex;
    flex-direction: column;
    flex-basis: 0;
    border: purple solid;
    flex-grow: 1;
}

.blkdg {
    display: flex;
    border: gold solid;
    flex-grow: 1;
    flex-basis: 0;
}

.dog {
    height: 200px;
    width: 200px;
}

.s1 {
    width: 70px;
}